#discount-currency {
    color: #fff;
    font-size: 1.25em;
    font-weight: 900;
}

.discount-price-container {
    display: flex;
    justify-content: center;
}

.duration-price {
    text-transform: lowercase;
    font-style: italic;
    color: #fff;
    font-size: 0.8em;
    margin: 0 0 10px 10px;
}

.discount-price-detail {
    text-transform: lowercase;
    font-style: italic;
    color: #fff;
    font-size: 1em;
    margin: 0 0 10px 10px;
}

.extra-flexbox {
    display: flex;
    flex-flow: column wrap;
}

.extra-flexbox-hidden {
    display: flex;
    flex-flow: column wrap;
    visibility: hidden;
}

h6 {
    font-size: 24px;
    text-align: center;
    margin: 20px 0;
    color: #8B8B8E;
}

i.far {
    color: #F68360;
    position: relative;
    display: inline-block;
}

i.far .domain-policy-tooltip {
    visibility: hidden;
    width: 150px;
    background-color: white;
    color: #8B8B8E;
    font-weight: 500;
    font-size: 0.9em;
    text-align: left;
    border-width: 5px;
    border-radius: 6px;
    padding: 20px;
    position: absolute;
    z-index: 1;
    top: -5px;
    left: 110%;
    box-shadow: 2px 2px 2px #626262, 
    -2px -2px 2px #626262;
}

i.far .domain-policy-tooltip::after {
    content: "";
    position: absolute;
    top: 5%;
    right: 100%;
    margin-top: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent white transparent transparent;
}

i.far:hover {
    cursor: help;
}

i.far:hover .domain-policy-tooltip {
    visibility: visible;
}

.item-box-align {
    display: grid;
    width: 100%;
    gap: 10px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(1, 1fr);
    align-items: center;
    padding: 0 80px;
    margin: 10px 0;
}

.item-left-align {
    color: #8B8B8E;
    font-weight: 100;
    text-align: left;
}

.item-right-align {
    color: #8B8B8E;
    font-weight: 900;
    text-align: right;
}

.item-price {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    margin: 20px 40px;
    border: 1px solid #000;
    box-shadow: 2px 2px 2px #626262, 
    -2px -2px 2px #626262;
}

p {
    color: #8B8B8E;
    font-weight: 900;;
    font-size: 18px;
    line-height: 2em;
    text-align: center;
    font-weight: 400;
}

.price-box {
    background-color: #1F2044;
    width: 100%;
    padding: 10px 0;
}

.price-btn {
    font-size: 1.25em;
    width: 75%;
    padding: 10px 0;
    margin: 15px auto;
    background-color: #FFCF00;
    font-weight: 900;
    color: #000;
    border: none;
    border-radius: 5px;
    cursor: pointer;;
}

.price-btn:hover {
    background-color: #d1ab01;
}

.price-container {
    display: grid;
    width: 100%;
    justify-items: center;
    grid-template-columns: 1fr 200px 1fr;
    grid-template-rows: repeat(1, 1fr);
    align-items: center;
    border: none;
}

.price-section {
    background-color: #FAFBFE;
    padding: 50px 0;
}

.recommended-price {
    display: block;
    position: relative;
    background-color: #FF9144;
    margin-bottom: -30px;
    left: 35px;
    bottom: 25px;
    z-index: 2;
    height: auto;
    width: 250px;
}

.recommended-title {
    text-align: center;
    color: white;
    font-size: 1.5rem;
    font-weight: 900;
}

.title-container {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 22px auto 0 auto;
    height: 100%;
    width: 60%;
}

.title-price {
    color: #fff;
    font-size: 1.5em;
    font-weight: 800;
}

#title-price-discount {
    text-decoration: line-through;
}

#title-price-detail {
    color: #fff;
    font-size: 1.5em;
    font-weight: 800;
}

#title-price-detail {
    margin-left: 5px;
}

.text-center {
    color: #8B8B8E;
    text-align: center;
    margin: 10px 0;
    font-weight: 100;
}

@media screen and (max-width: 1200px) {
    .item-price {
        display: flex;
        flex-flow: column wrap;
        justify-content: flex-start;
        align-items: center;
        margin: 20px 30px;
    }

    .item-box-align {
        padding: 0 50px;
    }

    .price-container {
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(3, 1fr);
    }

    .recommended-price {
        position: relative;
        background-color: #FF9144;
        bottom: 25px;
        width: 85%;
        left: 0;
    }
}