* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, html {
  height: 100%;
}

h1 {
  font-family: 'Poppins', sans-serif;
}

p, button, h6, span, a {
  font-family: 'Rubik', sans-serif;
}